body {
    font-family: "Helvetica", "Segoe UI light", sans-serif;
}

.container {
    margin: auto;
    margin-top: 20em;
    width: 1200px;
}

.cv {
    height: 500px;
    position: relative;
}

.bar {
    fill: rgba(0, 0, 0, 0.5);
}

.bar-school {
    fill: rgba(20, 200, 43, 0.5);
}

.bar-work {
    fill: rgba(89, 23, 125, 0.5);
}

.bar-honoraries {
    fill: rgba(100, 50, 200, 0.5);
}

.bar-studies {
    fill: rgba(89, 98, 2, 0.5);
}

.bar-scholarships {
    fill: #ccc;
}

.tooltip {
    position: absolute;
    top: 0;
    padding: 1em;
    left: 0;
    max-width: 500px;
    background: #666;
    color: #fff;
}

.tooltip-title {}

.tooltip-content {}
